﻿@model IntegratedSystems.Domain.DTO.PatientDetailsDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patient.Embg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patient.Embg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patient.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patient.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patient.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patient.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patient.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patient.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patient.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patient.Email)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
        <th>#</th>
        <th>Center</th>
        <th>Date Taken</th>
        <th>Certificate</th>
        </thead>
        <tbody>
            @{
                var i = 0;

                foreach (var item in Model.vaccines)
                {
                    <tr>
                        <td>
                            @{
                                i = i + 1;
                                <p>@i</p>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Center.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTaken)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Certificate)
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    <a asp-action="Edit" asp-route-id="@Model?.patient.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
